# ================================
# PYTHON
# ================================
__pycache__/
*.pyc
*.pyo
venv/
.env
*.egg-info/

# ================================
# DATABASE & AI
# ================================
*.sqlite3
chroma_db/
*.db

# ================================
# NODE / REACT
# ================================
node_modules/
dist/
build/
.next/

# ================================
# OS FILES
# ================================
.DS_Store
Thumbs.db
desktop.ini

# ================================
# IDE
# ================================
.vscode/
.idea/

# ================================
# LOGS
# ================================
*.log
logs/